@font-face {
    font-family: "MontserratBold";
    src: url("../assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "MontserratSemiBold";
    src: url("../assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "MontserratBlack";
    src: url("../assets/fonts/Montserrat-Black.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: MontserratSemiBold;

    h1 {
        margin-top: 50px;
        font-family: MontserratBold;
        font-size: 30px;
        text-transform: uppercase;
        span {
            border-top: 6px #fffb00 solid;
        }
    }

    p {
        margin-bottom: 50px;
        a {
            text-decoration: none;
            color: #0000ff;
        }
    }
}


.form-container {
    width: 95%;
    max-width: 400px;
    // height: 426px;
    margin-top: 20px;
    margin-bottom: 35px;
    padding: 40px;
    padding-bottom: 35px;
    border: 2px #000 solid;
    border-radius: 10px;
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
        label {
            margin-top: 15px;
        }

        input {
            width: 100%;
            height: 32px;
            margin: 5px 0;
            padding: 0px 10px;
            font-family: monospace;
            border: 2px #000 solid;
            border-radius: 5px;

            &:not(#submit):focus {
                outline: none;
                border: 3px #fffb00 solid;
            }
        }

        #submit {
            width: 100%;
            margin-top: 50px;
            font-family: MontserratBold;
            font-size: 16px;
            letter-spacing: 5px;
            color: black;
            background-color: #fff;

            &:hover {
                background-color: #fffb00;
            }
        }
    }
}

.watermark {
    display: none;
}

@media (min-width: 576px) and (min-height: 576px) {
    body {
        height: 100vh;
        justify-content: center;
    
        h1 {
            font-size: 32px;
        }
    }

    .form-container {
        padding: 50px;
        padding-bottom: 35px;
    }

    .watermark {
        display: inline;
        font-family: MontserratBlack;
        color: #fcedd9;
        // color: #f5e0d9;
        
        div:nth-child(1) {
            position: absolute;
            left: 0;
            bottom: 0;
            font-size: 16vw;
            letter-spacing: 3vw;
            text-transform: uppercase;
            z-index: -1;
        }
        
        div:nth-child(2) {
            position: absolute;
            right: 10vw;
            top: 0;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            font-size: 4vh;
            letter-spacing: 8vh;
            text-transform: uppercase;
            z-index: -1;
        }
    }
}
